<%- include("./Navigation/nav") %>

<section class="hero">
    <div class="container content">
        <div class="left">
            <h1 class="heading">Introducing the new stack for fast development</h1>
            <p class="sub-heading">A new way to grow your business, elevate your brand and grow your online presence
                with Festus Edwin Femi.</p>

            <!-- <p class="sub-heading">My name is </p>
            <br><br>
            <h1 class="heading">Festus Edwin Femi</h1>
            <p class="sub-heading">Web Developer | Ui / Ux Designer | Content Writer | Social Media Marketer</p> -->

            <div class="buttons">
                <a href="" class="btn">Explore New</a>
                <a href="" class="btn">Free Trial</a>
            </div>
        </div>
        <div class="right">
            <img src="./assets/img/Admin-port.png" alt="" class="img">
        </div>
    </div>
</section>

<section class="about">
    <div class="container content">
        <h2 class="header">Using Scrum for Fast Delivery</h2>
        <div class="cards">
            <div class="card">
                <h2 class="heading">Register for a Package</h2>
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti facilis fugit quo
                    placeat illum labore ab, veniam perspiciatis sed eveniet.</p>
            </div>
            <div class="card">
                <h2 class="heading">Make your Payment</h2>
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti facilis fugit quo
                    placeat illum labore ab, veniam perspiciatis sed eveniet.</p>
            </div>
            <div class="card">
                <h2 class="heading">Build & Deploy</h2>
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti facilis fugit quo
                    placeat illum labore ab, veniam perspiciatis sed eveniet.</p>
            </div>
        </div>
    </div>
</section>

<section class="more">
    <div class="container content">
        <div class="left">
            <div class="steps">
                <h2 class="heading">01</h2>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nihil provident ut ea
                    nemo ullam vero saepe hic at. Et atque </p>
            </div>

            <div class="steps">
                <h2 class="heading">02</h2>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nihil provident ut ea
                    nemo ullam vero saepe hic at. Et atque </p>
            </div>

            <div class="steps">
                <h2 class="heading">03</h2>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nihil provident ut ea
                    nemo ullam vero saepe hic at. Et atque </p>
            </div>

            <div class="steps">
                <h2 class="heading">04</h2>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nihil provident ut ea
                    nemo ullam vero saepe hic at. Et atque </p>
            </div>

        </div>

        <div class="right">
            <img src="/assets/img/erpnext-hero-compressed.png" alt="" class="img">
        </div>
    </div>
</section>


<section class="testimonials">
    <h2 class="heading">What People are Saying</h2>
    <div class="container content">
        <div class="card">
            <img src="/assets/img/ppc.jpg" alt="" class="card-img">
            <div class="txt">
                <h2 class="name">John Doe</h2>
                <h2 class="profession">Web Developer</h2>
                <p class="text"><span>"</span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis a
                    nesciunt at dicta ipsum impedit et velit nobis officia incidunt. <span>"</span></p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/img/webDev.jpg" alt="" class="card-img">
            <div class="txt">
                <h2 class="name">Neo Johnson</h2>
                <h2 class="profession">Founder of Ink.co</h2>
                <p class="text"><span>"</span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis a
                    nesciunt at dicta ipsum impedit et velit nobis officia incidunt. <span>"</span></p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/img/salesGrowth.jpg" alt="" class="card-img">
            <div class="txt">
                <h2 class="name">Aitokhuehi Christiana</h2>
                <h2 class="profession">Founder of ChiFroxen</h2>
                <p class="text"><span>"</span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis a
                    nesciunt at dicta ipsum impedit et velit nobis officia incidunt. <span>"</span></p>
            </div>
        </div>
    </div>
    <div class="pagination">
        <div class="dot active"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</section>


</body>

</html>